@model NavbarBasketViewModel
<ul class="navbar-nav">
    <li class="nav-item">
        <a asp-controller="Basket" asp-action="Index" class="btn btn-sm btn-success">
            <i class="fas fa-shopping-cart"></i>
            <span id="navbarBasketItemsCount" class="badge badge-light ml-1">@Model.ItemsCount</span>
        </a>
    </li>
</ul> 