@{       
    ViewData["Title"] = "Order Completed";
}
<h1>Thank you for your Purchase</h1>

<p>Your payment has been successfully received. Your order number is @ViewBag.OrderId. We will ship your products to your shipping address shortly as soon as possible.</p>